src/main/resources/previsao.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CurrentWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Location"/>
        <xs:element type="xs:string" name="Time"/>
        <xs:element type="xs:string" name="Wind"/>
        <xs:element type="xs:string" name="Visibility"/>
        <xs:element type="xs:string" name="SkyConditions"/>
        <xs:element type="xs:string" name="Temperature"/>
        <xs:element type="xs:string" name="DewPoint"/>
        <xs:element type="xs:string" name="RelativeHumidity"/>
        <xs:element type="xs:string" name="Pressure"/>
        <xs:element type="xs:string" name="Status"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>